@using Pages
@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4">
                    <NavLink class="nav-link" href="Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </div>
                <CascadingValue Value="this">
                    <div class="content px-4">
                        @Body
                    </div>
                </CascadingValue>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>
@code{ 
    public Enums.NotifStatus NotifStatus { get; set; }
    public string NotifMesssage { get; set; }
    public void ModifyNotif(string newValue,Enums.NotifStatus status) {
        NotifMesssage = newValue;
        NotifStatus = status;
        StateHasChanged();
    }

}