@using Pages
@inject NavigationManager navManager;
@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <MudAppBar Color="Color.Primary" Fixed="false" Dense="true">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@ToggleNavMenu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="@LogOut" Color="Color.Inherit" Edge="Edge.End" />
        </MudAppBar>

        <MudContainer>
            <MudDrawerContainer Class="mud-height-full">
                <NavMenu setDrawerStatus="drawerStatus" />
                <div class="main">
                    <CascadingValue Value="this">
                        @Body
                    </CascadingValue>
                </div>
            </MudDrawerContainer>
        </MudContainer>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code{
    bool drawerStatus = false;
    private void ToggleNavMenu()
    {
        drawerStatus = !drawerStatus;
    }
    private void LogOut() {
        navManager.NavigateTo("/Logout");
    }
}