@using WebPOS.BlazorUI.Shared.Components.LoginForm


<div class="wrapper-flex-content-middle wrapper-screen-height bg-theme-color">
    <div class="custom-card custom-card-shadow" style="height:35em">
        <div class="container-fluid wrapper-flex-content-middle" style="height:100%">
            <div class="row">
                <div class="col-md-7 d-none d-sm-block">
                    <img src="img/boltLogo.png" class="image-relative" alt="NTT Resto POS" />
                </div>
                <div class="col-md-5 col-sm-12 wrapper-flex-justify-center"><LoginForm/></div>
            </div>
        </div>
    </div>
</div>
@code {

}
