@using WebPOS.BlazorUI.Shared.Components.LoginForm


<div class="wrapper-flex-content-middle wrapper-screen-height bg-theme-color">
    <div class="wrapper-flex-justify-center" style="width:25%"><LoginForm/></div>
</div>
@code {

}
