@using WebPOS.BlazorUI.Shared.Components.LoginForm


<div class="wrapper-flex-content-middle wrapper-screen-height bg-theme-color">
    <div class="col-md-4 col-sm-12 wrapper-flex-justify-center"><LoginForm /></div>
</div>
@code {

}
