.c-table, c-table-body, table {
    width: 100%;
}

.c-table-header {
    display: flex;
    justify-content: space-between;
}

thead {
    background-color: var(--mainColor);
    color: white;
}

tbody > tr:hover {
    background-color: var(--highLightColor);
    cursor: pointer;
}

.data-controller {
    display: flex;
    justify-content: flex-end;
    grid-gap: 1em;
}
